@mixin textSize($textSize, $weight) {
  font-size: $textSize;
  font-weight: $weight;
}

@mixin sectionTitle {
  text-align: center;
  @include textSize(14px, 600);
}

@mixin sectionSubtitle {
  text-align: center;
  font-family: "Nunito", sans-serif;
  @include textSize(24px, bold);
}

@mixin sectionDescription {
  @include textSize(14px, normal);
  line-height: 22px;
}

@mixin responsive($size) {
  @if ($size == sm) {
    @media (min-width: 640px) and (max-width: 768px) {
      @content;
    }
  } @else if ($size == md) {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  } @else if ($size == lg) {
    @media (min-width: 1024px) and (max-width: 1280px) {
      @content;
    }
  } @else if ($size == xl) {
    @media (min-width: 1280px) and (max-width: 1536px) {
      @content;
    }
  } @else if ($size == 2xl) {
    @media (min-width: 1536) {
      @content;
    }
  }
}
