@mixin textSize($textSize, $weight) {
  font-size: $textSize;
  font-weight: $weight;
}

@mixin sectionTitle {
  text-align: center;
  @include textSize(14px, 600);

  @media (min-width: 640px) {
    @include textSize(17px, 600);
  }

  @media (min-width: 768px) {
    @include textSize(22px, 600);
  }

  @media (min-width: 1024px) {
    @include textSize(24px, 600);
  }
  
  @media (min-width: 1280px) {
    @include textSize(25px, 600);
  }
}

@mixin sectionSubtitle {
  text-align: center;
  font-family: "Nunito", sans-serif;
  @include textSize(24px, bold);

  @media (min-width: 640px) {
    @include textSize(33px, 800);
  }

  @media (min-width: 768px) {
    @include textSize(38px, 800);
  }

  @media (min-width: 1024px) {
    @include textSize(47px, 600);
    line-height: 50px;
  }
  
  @media (min-width: 1280px) {
    @include textSize(55px, 600);
    line-height: 70px;
  }
}

@mixin sectionDescription {
  @include textSize(14px, normal);
  line-height: 20px;
  width: 350px;
  text-align: center;

  @media (min-width: 640px) {
    @include textSize(16px, normal);
    width: 480px;
  }

  @media(min-width: 768px) {
    @include textSize(18px, normal);
    width: 530px;
    line-height: 23px;
  }

  @media (min-width: 1024px) {
    width: 590px;
    @include textSize(20px, normal);
    line-height: 27px;
  }
}

@mixin responsive($size) {
  @if ($size == sm) {
    @media (min-width: 640px) {
      @content;
    }
  } @else if ($size == md) {
    @media (min-width: 768px) {
      @content;
    }
  } @else if ($size == lg) {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if ($size == xl) {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if ($size == 2xl) {
    @media (min-width: 1536px) {
      @content;
    }
  }
}