@import "reset";
@import "variables";
@import "mixins";

//! ===> global

body {
  color: $textColor;
  background-color: $bgColor;
}

.button-contained {
  background-color: $textColor;
  color: $bgColor;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 35px;
  border-radius: 30px;
  @include textSize(13px, bold);
  box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
}

.button-outlined {
  border: 1px solid $textColor;
  color: $textColor;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  border-radius: 30px;
  @include textSize(13px, bold);
  transition: 0.3s all;

  &:hover {
    background-color: $textColor;
    color: $bgColor;
  }
}

.container {
  width: 100%;
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
}

::-webkit-scrollbar-thumb {
  background-color: $textColor;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(39, 39, 39);
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

//! ===> header

.logo {
  margin-top: 10px;
  display: flex;
  gap: 8px;

  div {
    display: flex;
    flex-direction: column;
  }

  p {
    @include textSize(14px, bold);
  }

  span {
    @include textSize(12px, normal);
  }
}

.header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header-desktop {
  display: none;
  margin-top: 20px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin: 0;
  }

  nav {
    display: flex;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      @include textSize(18px, normal);
      transition: .3s all;

      &:hover {
        color: #fff;
      }
    }
  }

}

.menu-mobile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  background-color: #383638;
  padding: 10px 0;

  .top {
    display: flex;
    justify-content: space-between;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 60px;
    @include textSize(25px, 600);

    li {
      display: flex;
      justify-content: center;
    }
  }
}

//! ===> hero section

#hero {
  margin-top: 50px;
  position: relative;

  .container,
  .container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
    font-family: "Nunito", sans-serif;
  }

  .title {
    width: 340px;
    @include sectionSubtitle;
    line-height: 35px;
  }

  .description {
    @include sectionDescription;
  }

  .image {
    width: 360px;
  }

  .shape-red {
    position: absolute;
    right: 0;
    top: 0;
  }

  .shape-blue {
    position: absolute;
    left: 0;
    bottom: 50%;
  }
}

//! ===> about section

#about {
  margin-top: 30px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .title {
    @include sectionTitle;
  }

  .subtitle {
    @include sectionSubtitle;
  }

  .description {
    margin-top: 20px;
    @include sectionDescription;
  }

  .btns {
    margin: 35px 0 20px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .image {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    img {
      width: 300px;
    }
  }
}

//! ===> services section

#services {
  margin-top: 50px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .title {
    @include sectionTitle;
  }

  .subtitle {
    @include sectionSubtitle;
  }

  .description {
    margin-top: 10px;
    @include sectionDescription;
    text-align: left;
  }

  .button {
    display: flex;
    gap: 7px;
    @include textSize(14px, 700);
    margin: 10px 0 0 20px;

    svg {
      transition: 0.5s all;
    }
    &:hover {
      svg {
        margin-left: 5px;
      }
    }
  }

  .boxs {
    text-align: center;
    display: grid;
    grid-template-columns: 270px;
    grid-template-rows: repeat(4, 270px);
    gap: 20px;
    margin-top: 40px;
    grid-template-columns: 2;

    & > div {
      border: 1px solid #2e2e2e;
      box-shadow: 0px 4px 8px rgba(39, 39, 39, 0.5);
      border-radius: 30px;
      transition: 0.3s all;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;

      .image {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .text {
        width: 120px;
        @include textSize(17px, 700);
      }

      &:hover {
        border: 1px solid rgb(76, 76, 76);
        box-shadow: 0px 4px 8px rgba(46, 46, 46, 0.5);
      }
    }

    @each $key, $value in (1: #e2e2e2, 2: #ff4646, 3: #8eea77, 4: #ffb31a) {
      .box-#{$key} {
        .image {
          background-color: $value;
        }
      }
    }
  }
}

//! ===> portfolio section

#portfolio {
  margin-top: 50px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .title {
    @include sectionTitle;
  }

  .subtitle {
    @include sectionSubtitle;
  }

  .description {
    margin-top: 10px;
    @include sectionDescription;
  }

  .cards {
    display: flex;
    width: 100%;
    margin: 25px 0;
    .card {
      position: relative;

      .title {
        position: absolute;
        bottom: 15px;
        left: 15px;
        z-index: 2;
        @include textSize(17px, bold);
        transition: 0.5s all;
      }

      .image {
        transition: 0.5s all;
      }

      .overlay {
        position: absolute;
        top: 2px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: rgb(2, 0, 36);
        background: linear-gradient(
          180deg,
          transparent 60%,
          rgba(24, 24, 24, 0.9) 100%
        );
      }

      &:hover {
        .title {
          color: #fff;
        }
        .image {
          filter: brightness(0.8);
        }
      }
    }
  }
}

//! ===> testimonial section

#testimonial {
  margin-top: 50px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .title {
    @include sectionTitle;
  }

  .subtitle {
    @include sectionSubtitle;
  }

  .cards {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
    justify-content: center;
  }

  .swiper-slide.swiper-slide-active {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
    width: 340px;

    .body {
      display: flex;
      align-items: center;
      gap: 20px;

      .name {
        @include textSize(17px, 600);
      }
      .specialty {
        @include textSize(11px, normal);
      }
    }

    .content {
      @include textSize(14px, normal);
    }
  }
}

//! ===> collaboration section

#collaboration {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 70px;
  }

  .image {
    width: 340px;
    margin: 30px 0 40px 0;
  }

  .title {
    text-align: center;
    @include sectionSubtitle;
    width: 340px;
  }

  .subtitle {
    @include sectionDescription;
  }
}

//! ===> footer

footer {
  padding: 25px 0 13px 0;
  background-color: #383638;

  .logo {
    background-color: $textColor;
    width: 112px;
    padding: 10px;
    border-radius: 15px;

    p,
    span {
      color: #1d1d1d;
    }
  }

  .links-list {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    gap: 25px;
    margin-top: 30px;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 7px;

    p {
      color: #fff;
      @include textSize(18px, bold);
      margin-bottom: 5px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 7px;
      transition: 0.3s all;
      @include textSize(16px, normal);

      a {
        transition: 0.5s all;
        &:hover {
          color: #fff
          ;
        }
      }
    }
  }

  .social-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px 0 20px 0;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      background-color: $textColor;
      border-radius: 30px;
    }
  }

  hr {
    margin: 15px 0;
    color: $textColor;
  }

  .copy-right {
    text-align: center;
    @include textSize(14px, normal);
  }
}

//! ===> responsive - sm

@include responsive(sm) {
  .container {
    max-width: 640px;
  }

  #hero {
    margin-top: 70px;

    .title {
      width: 400px;
    }
    .image {
      width: 540px;
    }
  }

  #about {
    .image {
      img {
        width: 440px;
      }
    }
  }

  #services {
    .button {
      margin-left: 0;
    }

    .boxs {
      grid-template-columns: repeat(2, 250px);
      grid-template-rows: repeat(2, 250px);
      gap: 30px;
    }

    .button {
      font-size: 15px;
    }
  }

  #testimonial {
    .card {
      width: auto;
      .content {
        @include textSize(16px, normal);
      }
    }
  }

  #collaboration {
    .image {
      width: 470px;
    }
    .title {
      width: 450px;
    }
  }

  footer {

    .logo-and-links {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    .links-list {
      gap: 40px;
      grid-template-columns: repeat(2, 200px);
    }
  }
}

//! ===> responsive - md

@include responsive(md) {
  .container {
    max-width: 768px;
  }

  header {
    .header-desktop {
      display: block;
    }
    
    .header-mobile {
      display: none;
    }
  }

  #hero {
    .title {
      width: 500px;
    }

    .image {
      width: 650px;
    }
  }

  #about {
    .image img {
      width: 540px;
    }
  }

  #collaboration {
    .image {
      width: 530px;
    }
    .title {
      width: 500px;
    }
  } 

  footer {
    .logo-and-links {
      gap: 80px;
    }
  }
}